In [1]:
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

     |████████████████████████████████| 727kB 8.2MB/s
     |████████████████████████████████| 51kB 6.5MB/s
     |████████████████████████████████| 1.2MB 15.0MB/s
     |████████████████████████████████| 194kB 54.7MB/s
     |████████████████████████████████| 61kB 8.2MB/s
Mounted at /content/gdrive

In [2]:
from fastbook import *

In [5]:
# Train a model that will predict whether a person is a high income earner based on their socioeconomic background
from fastai.tabular.all import  *
path = untar_data(URLs.ADULT_SAMPLE)

#Tell fastai ehich columns are categorigal and whch are continuous
dls= TabularDataLoaders.from_csv(path/'adult.csv', path=path, y_names="salary",
     cat_names = ['workclass','education','marital-status','occupation','relationship','race'],
     cont_names = ['age','fnlwgt','education-num'],
     procs = [Categorify, FillMissing, Normalize]  )

learn = tabular_learner(dls,metrics=accuracy)

In [6]:
#There are no pre trained models for this task.So, we dont use fine_tune in this case instead we use fir_one_cycle
learn.fit_one_cycle(3)